body {
    background: #0c5460;
    color: #e2f6f6;
}

#container {
    background: #4e62a2;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto;
}

.container-item {
    background: #0a0f42;
    padding: 30px;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
}

#example-1:hover {
    width: 300px;
}

#example-2 {
    transition: width 2s;
}

#example-2:hover {
    width: 300px;
}

#example-3 {
    transition: width 2s, height 4s, background-color 3s;
}

#example-3:hover {
    width: 300px;
    height: 300px;
    background-color: orange;
}

.timing {
    transition: width 2s;
}

#example-4:hover {
    transition-timing-function: linear;
    width: 300px;
}

#example-5:hover {
    transition-timing-function: ease;
    width: 300px;
}

#example-6:hover {
    transition-timing-function: ease-in;
    width: 300px;
}

#example-7:hover {
    transition-timing-function: ease-out;
    width: 300px;
}

#example-8:hover {
    transition-timing-function: ease-in-out;
    width: 300px;
}

.cubic-bezier{
    width: 100px;
    height: 100px;
    background: red;
    transition: transform 2s;
}

#example-9:hover {
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    transform: translate(100px, 0px);
}

#example-10:hover {
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transform: translate(100px, 0px);
}

#example-11:hover {
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#example-12:hover {
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    transform: translate(100px, 0px);
}

#example-13:hover {
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transform: translate(100px, 0px);
}

.delay{
    transition: width 3s;
    transition-delay: 1s;
}

#example-14:hover {
    width: 300px;
}

button {
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

button:hover {
    background-color: lightgreen;
    transform: scale(1.1);
}

#example-15{
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

#example-15:hover {
    width: 300px;
    height: 300px;
    background-color: orange;
    transform: rotate(180deg);
}